* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0a0108;
}
body,
section {
    max-width: 100vw;
    min-height: 100vh;
    width: 100%;
}

.text-red-100 {
    color: #FEE2E2;
}

.text-red-200 {
    color: #FECACA;
}

.text-red-300 {
    color: #FCA5A5;
}

.text-red-400 {
    color: #F87171;
}

.text-red-500 {
    color: #EF4444;
}

.text-yellow-100 {
    color: #FEF3C7;
}

.text-yellow-200 {
    color: #FDE68A;
}

.text-yellow-300 {
    color: #FCD34D;
}

.text-yellow-400 {
    color: #FBBF24;
}

.text-yellow-500 {
    color: #F59E0B;
}

.text-gray-100 {
    color: #F4F4F5;
}

.text-gray-200 {
    color: #E4E4E7;
}

.text-gray-300 {
    color: #D4D4D8;
}

.text-gray-400 {
    color: #A1A1AA;
}

.text-gray-500 {
    color: #71717A;
}


.text-blue-500 {
    color: #60A5FA;
}

.text-blue-600 {
    color: #3B82F6;
}

.text-blue-700 {
    color: #2563EB;
}

.text-blue-800 {
    color: #1D4ED8;
}

.text-blue-900 {
    color: #1E40AF;
}

.text-purple-300 {
    color: #BA68C8;
}
.text-purple-500 {
    color: #A78BFA;
}

.text-purple-600 {
    color: #8B5CF6;
}

.text-purple-700 {
    color: #7C3AED;
}

.text-purple-800 {
    color: #6D28D9;
}

.text-purple-900 {
    color: #5B21B6;
}

.bg-purple-700 {
    background-color: #7C3AED;
    color: white;
}

.bg-purple-800 {
    background-color: #6D28D9;
    color: white;
}

.bg-purple-900 {
    background-color: #341566;
    color: white;
}

.cta:hover {
    color: #7C3AED;
    background-color: white;
    transition: 0.5s;
}
.card-hover:hover {
    transition: 0.6s ease;
    transform: scale(1.1)!important;
}
.cursor-pointer {
    cursor: pointer;
}